body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f7fa;
}

/* LOGIN PAGE */
.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    border-top: 6px solid #0083c9;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 95%;
    padding: 12px;
    background: #0083c9;
    border: none;
    color: white;
    cursor: pointer;
}

.error { color: red; }

/* NAVBAR */
.navbar {
    background: #005a8d;
    padding: 15px;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.logout {
    margin-left: auto;
    color: #ffdddd;
}

/* CONTENT */
.content {
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.active {
    font-weight: bold;
}

/* FORM */
.form-box input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

.form-box button {
    width: 320px;
    padding: 12px;
    background: #005a8d;
    color: white;
    border: none;
    cursor: pointer;
}
