<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <title>Ny patient</title>
</head>
<body>

<h2>Opret ny patient</h2>

<form method="post">
    <label>Navn</label><br>
    <input name="navn" required><br><br>

    <label>Alder</label><br>
    <input type="number" name="alder"><br><br>

    <label>CPR</label><br>
    <input name="cpr"><br><br>

    <label>Diagnose</label><br>
    <input name="diagnose"><br><br>

    <button type="submit">Gem patient</button>
</form>

<br>
<a href="/patientdatabase">← Tilbage</a>

</body>
</html>